
body {
    background: #360033; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50%;
    margin: auto;
}

form {
    border: 5px solid blue;
    background-color: yellow;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#imgchef {
    text-align: center;
    margin: 24px 0 12px 0;
}

img {
    width: 25%;
    border-radius: 50%
}

/* userpage.php and restaurants_found.php */
#header {
    padding: 10px;
}

#header h1 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 3em;
}

#user_data h2 {
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
}

#user_data h3 {
    font-size: 1em;
    margin-top: 10px;
    font-family: 'Indie Flower', cursive;
}

#user_links {
    margin-top: 10px;
}

#user_links a{
    color: #000000;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

#user_links ul {
    list-style-type: none;
    padding: 0;
    padding: 10px 0px;
    margin: 0px;
}

#user_links li {
    display: inline;
    margin: 10px;
    display: inline;
    padding: 10px 20px;
    margin-right: 0;
    border: 1px solid #FFF; 
}
